<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="c-navigation__item {% if page.url == '/projects/' %}is-active{% endif %}" href="{{ "/projects/" | prepend: site.baseurl }}">Projects</a>
    <a class="c-navigation__item {% if page.url == '/publications/' %}is-active{% endif %}" href="{{ "/publications/" | prepend: site.baseurl }}">Publications</a>
    <a class="c-navigation__item {% if page.url == '/presentations/' %}is-active{% endif %}" href="{{ "/presentations/" | prepend: site.baseurl }}">Presentations & Workshops</a>
    <a class="c-navigation__item {% if page.url == '/opportunities/' %}is-active{% endif %}" href="{{ "/opportunities/" | prepend: site.baseurl }}">Opportunities</a>
  </div>
</nav>
